---
import BaseLayout from "@/layouts/BaseLayout.astro";
import JobIcon from "@/components/icons/JobIcon.astro";
import GitIcon from "@/components/icons/GitIcon.astro";
import ProjectsBento from "@/components/home/ProjectsBento.astro";
import JobTimeline from "@/components/home/JobTimeline.astro";
import MailIcon from "@/components/icons/MailIcon.astro";
import SocialBadge from "@/components/home/SocialBadge.astro";
import GitHubIcon from "@/components/icons/GitHubIcon.astro";
import LinkedinIcon from "@/components/icons/LinkedinIcon.astro";
import MailboxIcon from "@/components/icons/MailboxIcon.astro";
---

<BaseLayout title="Lisandro Marchionni">
  <!-- Hero -->
  <section>
    <h1 class="text-6xl font-bold">
      Hola! Soy <span class="text-primary-500">Licha</span>
    </h1>
    <h2 class="text-3xl font-bold text-primary-700">Lisandro Marchionni</h2>
    <h3 class="text-xl font-medium mt-3">
      Estudiante universitario. DevOps y desarrollo backend.
    </h3>
    <div class="flex flex-wrap gap-1 mt-3">
      <SocialBadge href="https://github.com/lichodev">
        <GitHubIcon /> GitHub
      </SocialBadge>
      <SocialBadge href="https://www.linkedin.com/in/lisandromarcho">
        <LinkedinIcon />
         LinkedIn
      </SocialBadge>
      <SocialBadge href="mailto:marchionni.lisandro@gmail.com">
        <MailboxIcon />
         marchionni.lisandro@gmail.com
      </SocialBadge>
    </div>
  </section>

  <!-- Experiencia -->
  <section class="mt-16">
    <header class="flex flex-row items-center mb-3">
      <JobIcon />
      <h2 id="jobs" class="text-2xl font-semibold">Experiencia laboral</h2>
    </header>

    <JobTimeline
      job="Soporte Infraestructura"
      at="UNICEN.edu.ar (Campus Tandil)"
      atUrl="https://www.unicen.edu.ar"
      date="octubre 2023 - actualidad"
    >
      <p>
        Trabajo con usuarios finales y las distintas Facultades haciendo
        soporte. Realizo mantenimiento IT en áreas comunes y en el Centro de
        datos.
      </p>
      <p class="font-semibold">Tareas puntuales</p>
      <ul>
        <li>
          Mantenimiento y gestión de diferentes clusters de virtualización como
          Ganeti (Xen) y Kubernetes
        </li>
        <li>Despliegue de servicios en las plataformas mencionadas</li>
        <li>Adminsitración de servidor DNS (bind)</li>
        <li>Administración y configuración de routers y switchs</li>
        <li>Instalación y mantenimiento de dispositos VoIP</li>
        <li>Mantenimiento de estaciones de trabajo</li>
        <li>Bash scripting</li>
      </ul>
    </JobTimeline>
  </section>

  <!-- Proyectos -->
  <section class="mt-16">
    <header class="flex flex-row items-center mb-4">
      <GitIcon />
      <h2 id="projects" class="text-2xl font-semibold">Mis poyectos</h2>
    </header>

    <ProjectsBento />
  </section>

  <!-- Contacto -->
  <section class="mt-16">
    <header class="flex flex-row items-center mb-3">
      <MailIcon />
      <h2 id="contact" class="text-2xl font-semibold">Contacto</h2>
    </header>
  </section>
</BaseLayout>
