---
import BaseLayout from "../layouts/BaseLayout.astro";
import JobIcon from "../components/icons/JobIcon.astro";
import GitIcon from "../components/icons/GitIcon.astro";
import ProjectCard from "../components/ProjectCard.astro";
import JobTimeline from "../components/JobTimeline.astro";
import MailIcon from "../components/icons/MailIcon.astro";
---

<BaseLayout title="Lisandro Marchionni">
  <main>
    <h1>Hola! Soy <span class="text-primary-500">Licha</span></h1>
    <span>Lisandro Marchionni</span>
    <!-- Experiencia -->
    <h2 class="mb-2">Experiencia laboral<JobIcon /></h2>
    <section>
      <JobTimeline
        job="Soporte IT"
        at="UNICEN.edu.ar"
        atUrl="https://www.unicen.edu.ar"
        date="octubre 2023 - actualidad"
      >
        <li>Instalación y mantenimiento de dispositos VoIP</li>
        <li>Mantenimiento de estaciones de trabajo</li>
        <li>
          Administración y configuración de routers y switch administrables
        </li>
        <li>
          Mantenimiento y gestión de diferentes clusters de virtualización como
          Ganeti (Xen) y Kubernetes
        </li>
        <li>Adminsitración de servidor DNS</li>
        <li>Bash scripting</li>
        <li>Linux</li>
      </JobTimeline>
    </section>
    <!-- Proyectos -->
    <h2>Proyectos <GitIcon /></h2>
    <section class="grid grid-cols-1 md:grid-cols-2 gap-5">
      <ProjectCard />
      <ProjectCard />
      <ProjectCard />
      <ProjectCard />
      <ProjectCard />
    </section>
    <!-- Contacto -->
    <section>
      <h2>Contacto <MailIcon /></h2>
    </section>
  </main>
</BaseLayout>
