---
type Props = {
  job: string;
  at: string;
  atUrl: string;
  date: string;
};
const { job, at, atUrl, date } = Astro.props as Props;
---

<article class="mb-4">
  <h3>
    {job}
    <span class="font-semibold text-text-600"
      >@ <a
        href={atUrl}
        target="_blank"
        class="text-text-600 no-underline hover:underline">{at}</a
      ></span
    >
  </h3>
  <span class="text-text-600">{date}</span>
  <div class="prose job-info pt-2">
    <slot />
  </div>
</article>

<style>
  @media (prefers-color-scheme: dark) {
    div {
      @apply prose-invert;
    }
  }
</style>

<style is:global>
  .job-info,
  .job-info * {
    max-width: none;
  }

  .job-info p,
  .job-info ul {
    @apply m-0 mb-2;
  }
  .job-info ul li {
    margin: 0;
  }
</style>
