---
interface Props {
  job: string;
  at: string;
  atUrl: string;
  date: string;
}

const { job, at, atUrl, date } = Astro.props;
---

<article class="mb-4 max-w-[70ch]">
  <h3>
    {job}
    <span class="font-semibold text-text-600 dark:text-text-400"
      >@ <a
        href={atUrl}
        target="_blank"
        class="text-text-600 dark:text-text-400 no-underline hover:underline"
        >{at}</a
      ></span
    >
  </h3>
  <span class="text-text-600 dark:text-text-400">{date}</span>
  <div class="prose prose-stone job-info pt-2">
    <slot />
  </div>
</article>

<style is:global>
  .job-info,
  .job-info * {
    max-width: none;
  }

  .job-info p,
  .job-info ul {
    @apply m-0 mb-1;
  }
  .job-info ul li {
    margin: 0;
  }
</style>
