---
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).filter((post) =>
  post.data.tags?.includes("project")
);
---

{
  posts.map((post) => (
    <a href={`/blog/${post.slug}/`}>
      <img
        class="m-0 rounded shadow-primary-900/40 shadow-lg"
        src={post.data.heroImage}
      />
    </a>
  ))
}
