---
import BentoItem from "./BentoItem.astro";
import GitIcon from "@/components/icons/GitIcon.astro";
---

<section class="mt-16">
  <header class="flex flex-row items-center mb-4">
    <GitIcon />
    <h2 id="projects" class="text-2xl font-semibold">Mis poyectos</h2>
  </header>

  <div class="grid grid-cols-12 gap-4 top">
    <BentoItem img="/bento/licho-tk.jpg" title="Acortador de Url" lg:size={7} />
    <BentoItem
      img="/bento/lichodev-blog.jpg"
      title="lichodev Blog"
      lg:size={5}
    />
    <BentoItem img="/bento/lichodev-2024.jpg" title="Esta página!" />
  </div>
</section>
