---
import BentoItem from "./BentoItem.astro";
import GitIcon from "@/components/icons/GitIcon.astro";

import VercelIcon from "../icons/techs/VercelIcon.astro";
import BentoIcon from "./BentoIcon.astro";
import NextJsIcon from "../icons/techs/NextJsIcon.astro";
---

<section class="mt-16">
  <header class="flex flex-row items-center mb-4">
    <GitIcon />
    <h2 id="projects" class="text-2xl font-semibold">Mis poyectos</h2>
  </header>

  <div class="grid grid-cols-12 gap-4 top">
    <BentoItem
      img="/bento/licho-tk.jpg"
      title="Acortador de Url"
      href="https://licho-tk.vercel.app/"
    >
      <BentoIcon>
        <NextJsIcon /> NextJs
      </BentoIcon>
      <BentoIcon>
        <VercelIcon /> Vercel
      </BentoIcon>
    </BentoItem>
  </div>
</section>
