<footer class="p-4 backdrop-blur-sm bg-white/90 sm:p-6">
  <div class="mx-auto max-w-screen-xl">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href={Astro.site} class="flex items-center">
          <img src="/lichodev-logo.webp" class="m-0 h-20" alt="lichodev Logo" />
        </a>
      </div>
    </div>
  </div>
</footer>
