<footer class="bg-text-50 p-10 mt-16 mx-auto max-w-[1000px]">
  <a href={Astro.site} class="flex items-center">
    <img src="/lichodev-logo.webp" class="m-0 h-20" alt="lichodev Logo" />
  </a>
</footer>
