---
import HeaderLink from "./HeaderLink.astro";
---

<header
  class="sticky top-5 px-5 py-2 mx-2 lg:mx-auto z-10 max-w-[1000px] rounded-md dark:bg-zinc-800/70 bg-white/70"
>
  <nav class="flex justify-between items-center">
    <a href="/">
      <img
        class="rounded-full h-12 shadow-lg"
        src="https://avatars.githubusercontent.com/u/24478906"
      />
    </a>
    <div>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
  </nav>
</header>

<style>
  header {
    animation: scrollAnimation linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes scrollAnimation {
    to {
      @apply border-2 border-slate-700 shadow-sm shadow-slate-800  backdrop-blur-sm;
    }
  }
</style>
