---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header
  class="sticky top-5 px-5 py-2 border-2 border-slate-700 rounded-md backdrop-blur-sm shadow-sm shadow-slate-800"
>
  <nav class="flex justify-between items-center">
    <a href="/">
      <img
        class="rounded-full h-12"
        src="https://avatars.githubusercontent.com/u/24478906"
      />
    </a>
    <div>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
  </nav>
</header>
