---
import MailIcon from "@/components/icons/MailIcon.astro";
---

<section class="my-16">
  <header class="flex flex-row items-center mb-3">
    <MailIcon />
    <h2 id="contact" class="text-2xl font-semibold">Contacto</h2>
  </header>
</section>
