---
import SectionHeaderIcon from "@/components/SectionHeaderIcon.astro";
---

<section class="my-16">
  <header class="flex flex-row items-center mb-3">
    <SectionHeaderIcon>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="p-1"
        width={40}
        height={40}
        viewBox="0 0 24 24"
        stroke-width={1.5}
        stroke="white"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><path
          d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><path d="M3 6l0 13"
        ></path><path d="M12 6l0 13"></path><path d="M21 6l0 13"></path>
      </svg>
    </SectionHeaderIcon>
    <h2 id="studies" class="text-2xl font-semibold">Estudios</h2>
  </header>

  <div class="grid grid-cols-2 gap-4 mt-4">
    <article class="border-4 rounded-md border-primary-500 p-2 col-"></article>
    <article class="border-4 rounded-md border-primary-500 p-2 col-"></article>
  </div>
</section>
