---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import SiteHeader from "@/components/SiteHeader.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";

interface Props {
  title?: string;
  description?: string;
  wide?: boolean;
}

const { title, description, wide = false } = Astro.props;

const mainWidth = wide ? "max-w-[900px]" : "max-w-[750px]";
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead
      title={title ? `${title} - ${SITE_TITLE}` : SITE_TITLE}
      description={description ?? SITE_DESCRIPTION}
    />
  </head>
  <body>
    <SiteHeader />
    <main class=`m-auto ${mainWidth} px-6 lg:px-0 mt-10`>
      <slot />
    </main>
    <Footer />

    <style is:global>
      @media (prefers-color-scheme: dark) {
        *.prose {
          @apply prose-invert;
        }
      }
    </style>
  </body>
</html>
